

<div class="row">
    
    <div class="col-8 m-auto">

        <form [formGroup]="formGroupClient">
            <div class="mb-3">
                <div class="display-6 text-center">
                    Cadatro de Clientes
                </div>
                <label for="name" class="form-label">Nome:</label>
                <input type="text" formControlName="name" class="form-control" id="name" placeholder="Nome">

                <div *ngIf="submitted && name.invalid">
                    <small class="text-danger">Nome Inválido!</small>
                </div>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email </label>
                <input type="email" formControlName="email" class="form-control" id="email" placeholder="Email">
                <div *ngIf="submitted && email.invalid">
                    <small class="text-danger">Email Inválido!</small>
                </div>
            </div>
            <div class="mb-3  text-center">
                <button class="btn btn-success  me-2 bg-success" (click)="save ()" style="width: 25%;"> salvar</button>
                <button class="btn btn-warning  bg-warning " (click)="cancel() " style="width: 25%;">Voltar</button>
            </div>
        </form>
    </div>
</div>